#user-service
server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/db_agroTechCare
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true